<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="ewd_stock" translate="label" sortOrder="350">
            <label>EWD Stock</label>
        </tab>
        <section id="ewd_stock" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Warehouse Configuration</label>
            <tab>ewd_stock</tab>
            <resource>EWD_Stock::stock</resource>
            <group id="warehouse" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Warehouse Configuration</label>
                <hide_in_single_store_mode>0</hide_in_single_store_mode>
                <field id="scope" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Warehouses</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>