<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="EWD\Stock\Model\ResourceModel\Warehouse\Grid\Collection">
        <arguments>
            <argument name="entityFactory" xsi:type="object">Magento\Framework\Data\Collection\EntityFactory</argument>
            <argument name="logger" xsi:type="object">EWD\Stock\Log\Logger</argument>
            <argument name="fetchStrategy" xsi:type="object">Magento\Framework\Data\Collection\Db\FetchStrategy\Query</argument>
            <argument name="eventManager" xsi:type="object">Magento\Framework\Event\Manager</argument>
        </arguments>
    </type>
    
    <type name="Magento\Catalog\Block\Adminhtml\Product\Edit\Tabs">
        <plugin sortOrder="10" name="warehouseShelfTab" type="EWD\Stock\Plugin\Catalog\Block\Adminhtml\Product\Edit\Tabs\Shelf" />
    </type>
</config>